.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    height: 56px;
    z-index: 9;
}

.toolbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5% 4% 0% 4%;
}

.toolbar__logo {
    margin-left: 1rem;
}

.toolbar__logo img {
    width: 48px;
    height: 48px;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation__item ul {
    list-style: none;
    margin: 0;
    display: flex;
}

.toolbar_navigation__item li {
    padding: 0 0.5rem;
}

.toolbar_navigation__item a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation__item a:hover, .toolbar_navigation__item a:active {
    color: #fa923f;
}

.spacer {
    flex: 1;
}

.toolbar_navigation__item {
    display: none;
}

@media (min-width: 880px){
    .toolbar{
        display: none;
    }
}
