.slide-content:hover{
    cursor: pointer;
}
.slide-content
 
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 20%;
}
img{
}

.slides .slick-next {
  right: 20%;
}