.slide-content:hover{
    cursor: pointer;
}
.slide-container {
    border: 1px solid gold;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #d0e5e5;
}

 









.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 10%;
}


.slides .slick-next {
  right: 10%;
}
#slide_quote_one{
  display: flex;
  justify-content: center;
  align-items: center!important;
  flex-direction: column;
  height: 30vh;
  max-width: 100%;
  width: 100%;
  position: relative;
  top: -30px;
}