@media (max-width: 1600px) and (min-width: 1181px){
    .secure_generator_inspiration_quote,
     .biometric_system_inspiration_quote, 
     .rational_guards_inspiration_quote, 
     .cctv_camera_inspiration_quote, 
     .security_inspiration_quote, 
     .digital_guest_inspiration_quote {
      top: calc(10px + ((-30) - 10)*(100vw - 1366px) / (1600 - 1366))!important;
  }
}
@media (min-width: 769px) {
  .weaver_explanation_text-tablet {
    display: none;
  }

  .location_svg_container-tablet {
    display: none;
  }
}

@media (max-width: 1222px) {
  .button {
    margin-left: 5rem;
  }
}

@media (min-width: 900px) {
  .intro-container-md {
    display: none;
  }

  .founder-container-md {
    display: none;
  }

  .hide-sm {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  #intro-wrapper {
    display: none;
  }

  .founder_container {
    display: none;
  }

  .header {
    display: none;
  }
}

@media (min-width: 768px) {

  /* HEADER */
  .header-inner-wrap>h3 {
    font-size: 4.026354319180088vw;
  }

  /* svg */
  .top-right-svg {
    right: 5.490483162518301vw;
    top: 2.847730600292826vw;
  }

  .bottom-left-svg {
    left: 7.320644216691069vw;
  }

  .sub-title h4 {
    font-size: larger;
    font-weight: lighter;
  }

  /* INTRO  */
  .item>.modern_life__image {
    width: 50vw;
    height: 64.74820143884892vh;
  }

  .intro-top-parag,
  .intro-mid-parag,
  .intro-bottom-parag {
    word-break: break-all;
    font-size: calc(15px + (18 - 15)*(100vw - 768px) / (1280 - 768));
  }

  .info_content h2 {
    font-size: 2.9992576866764276vw;
    font-weight: normal;
  }

  .inspiration__quote {
    /* border: 2px solid; */
    word-break: keep-all;
    top: -4.316546762589928vh;
    padding: 0 5% 5% 5%;
  }

  .quote_wrap,
  .weaver_explanation_text,
  .weaver_explanation_text-tablet {
    font-size: calc(20px + (24 - 20)*(100vw - 768px) / (1280 - 768));
  }

  .item>.sociable_weaver__image {
    width: 50vw;
    height: 64.74820143884892vh;
  }

  .location_svg_container {
    font-size: calc(16px + (20 - 16)*(100vw - 768px) / (1280 - 768));
  }
}

@media (max-width: 879px) {
  .navbar-wrap {
    display: none;
  }
}

@media (max-width: 768px) {
  .location_svg_container {
    display: none;
  }

  .location_svg img {
    width: calc(30vw + (20.863836017569547 - 40)*(100vw - 320px) / (768 - 320));
    height: 100%;
    padding-left: 2.4641288433382138vw;
  }

  .location_svg_container-tablet {
    left: 0%;
    margin-top: 0%;
    /* border: 2px solid red; */
  }

  .weaver_explanation_container {
    top: 0%;
    /* border: 2px solid red; */
    word-break: keep-all;
    float: right;
  }

  .weaver_explanation_text {
    display: none;
    margin-top: 0;
    width: none;
  }

  .weaver_explanation_text-tablet {
    /* margin-top: -10vh;   */
    padding-right: 10.4641288433382138vw;
    text-align: justify;
  }

  .weaver_context_container {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    height: 30vh;
    max-height: 100%;
    justify-content: space-around;
    border: 2px solid rgb(52, 18, 204);
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .button {
    margin-top: calc(-70px + (0 - (-70))*(100vw - 900px) / (1024 - 900));
    margin-left: 3rem;
  }

  blockquote {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }

  .profile_storyline {
    margin-top: calc(-30px + (0 - (-30))*(100vw - 900px) / (1024 - 900));
  }
}

/* from 899px down */

@media (max-width: 899px) {
  .intro-container-md {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 0%;
  }
  article .intro-wrap-p3-md {
    width: 100%;
    max-width: 100%;
    grid-row-gap: 5rem;
    margin-top: 11rem;
padding-bottom: 8em;
}

  .intro-inner-content-md {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-auto-flow: row;
  }

  article>.intro-wrap-p1-md {
    width: 100%;
    max-width: 100%;
    height: fit-content;
  }

  article .intro-wrap-p2-md {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    grid-row-gap: 8rem;
    margin-top: 8rem;
  }

  /* article .intro-wrap-p3-md {
    width: 100%;
    max-width: 100%;
    grid-row-gap: 8rem;
    margin-top: 5rem;
  } */

  .weaver-text-md {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
  }

  /* childs */
  .intro-image-content-p1-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-content: end;
    width: 100%;
    height: fit-content;
    will-change: transform;
  }

  .intro-header-content-p1-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    color: #001A7D;
    height: fit-content;
    padding: 0 2.5%;
    margin-top: 3rem;
  }

  .intro-header-md h3 {
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    font-size: 54px;
    color: inherit;
    line-height: 1.1;
    padding: 0;
    margin: 0;
  }

  /* <> */
  .intro-image-content-p2-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .intro-header-content-p2-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    color: #001A7D;
  }

  .intro-modernlife-p2-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    padding: 0 5.5% 0 5.5%;
    box-sizing: border-box;
  }

  .intro-modernlife-p2-md h2 {
    font-family: "Brown Regular";
    width: 100%;
    text-align: left;
    font-size: 42px;
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.2;
  }

  .intro-modernlife-p2-md p {
    /* font-family: "Akkurat-light"; */
    /* font-family: 'ABeeZee', sans-serif; */
    word-spacing: 5px;
    font-size: 24px;
    width: 100%;
    text-align: left;
    margin: 0;
    line-height: 1.2;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }

  .intro-modernlife-p2-md span {
    color: #ef3e25;
  }

  .intro-image-content-p2-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  /* <> */
  .intro-image-content-p3-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-content: end;
    width: 100%;
    height: fit-content;
    will-change: transform;
  }

  .intro-header-content-p3-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    color: c;
    height: fit-content;
    padding: 0 5.5% 0 5.5%;
    margin-top: 3rem;
  }

  .intro-weaver-p3-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    box-sizing: border-box;
  }

  .intro-weaver-p3-md h2 {
    font-family: "Brown Regular";
    width: 100%;
    text-align: left;
    font-size: 42px;
    margin: 0 0 20px 0;
    font-weight: 400;
    color: #001A7D;
    line-height: 1.2;
  }

  .intro-weaver-p3-md p {
    /* font-family: 'Akkurat'; */
    word-spacing: 5px;
    font-size: 24px;
    width: 100%;
    color: #001A7D;
    text-align: left;
    margin: 0;
    line-height: 1.2;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }

  .intro-weaver-p3-md span {
    color: #ef3e25;
  }

  /* intro image 1 */
  .img__intro-p1-md {
    --image: url(../../_assets/image_22.png);
    height: 310px !important;
  }

  .content-intro-p1-md {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    width: 260px !important;
    height: 250px !important;
  }

  .img__intro-p1-md {
    --aspect-ratio: 1/0;
    /* to reduce the zoom ( the actual animation/effects )in of the image */
    width: 260px !important;
    height: 310px !important;
  }

  .intro-img-p1-md {
    --overflow: 35px !important;
    /* zooming for parallex (the actual effects) issues */
  }

  /* intro image 2 */
  .img__intro-p2-md {
    --image: url(../../_assets/Ylady.png);
    height: 372px !important;
  }

  .content-intro-p2-md {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    width: 332px;
    height: 372px;
  }

  .img__intro-p2-md {
    --aspect-ratio: 1/0;
    /* to reduce the zoom ( the actual animation/effects )in of the image */
    width: 332px !important;
    height: 372px !important;
  }

  .intro-img-p2-md {
    --overflow: 35px;
    /* zooming for parallex (the actual effects) issues */
  }

  /* intro image 3 */
  .img__intro-p3-md {
    --image: url(../../_assets/image_2.png);
    height: 446px;
  }

  .content-intro-p3-md {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-end;
    width: 448px;
    height: 446px !important;
  }

  .img__intro-p3-md {
    --aspect-ratio: 1/0;
    /* to reduce the zoom ( the actual animation/effects )in of the image */
    width: 448px !important;
    height: 446px !important;
  }

  .intro-img-p3-md {
    --overflow: 35px;
    /* zooming for parallex (the actual effects) issues */
  }
}

@media (max-width: 699px) {
  .founder-member-p1-md {
    display: flex;
    flex-direction: column;
  }

  .member-p2-wrap-md {
    display: flex;
    flex-direction: column;
  }

  .member-p2-image-md {
    position: relative;
    right: 0;
    top: 6.5rem;
  }

  article .founder-member-p2-md {
    width: 100%;
    max-width: 100%;
    grid-row-gap: 0;
    margin-top: 0rem;
  }
}

@media (max-width: 464px) {
  blockquote {
    font-size: 3.8vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
  }

  .founder-header-md {
    font-size: 8vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
  }

  .member-p1-name-md,
  .member-p2-name-md {
    font-size: 7vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
  }

  .img__member-p2-md,
  .img__member-p1-md {
    height: 35vh;
    width: 50vw;
  }

  .member-img-p2-md,
  .member-img-1-md {
    --overflow: 60px;
  }
}

@media (max-width: 399px) {

  .founder-member-p2-md,
  .founder-member-p1-md {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    justify-self: center;
  }

  .member-p2-image-md,
  .member-p1-image-md {
    justify-items: center;
    justify-content: center;
    justify-self: center;
  }

  .member-p2-image-md {
    top: 4rem;
  }

  .member-p2-info-md,
  .member-p1-info-md {
    justify-items: center;
    justify-content: center;
    justify-self: center;
    padding: 1rem;
  }

  .member-p2-md,
  .member-p1-md {
    justify-items: center;
    justify-content: center;
    justify-self: center;
  }

  article .founder-member-p1-md {
    grid-row-gap: 0;
  }
}

/*  small phones possible mobile sizes 
  */

@media (width: 320px) and (height: 480px) {
  .founder-member-p1-md {
    grid-row-gap: 0rem;
  }

  .member-p1-info-md {
    padding-top: 0;
  }

  article .founder-member-p2-md {
    margin-top: -5rem;
  }

  .member-img-p2-md,
  .member-img-1-md {
    --overflow: 5px;
  }
}

@media (max-width: 620px) {
  .intro-header-md .hide {
    font-size: 6.4vw;
  }
}

@media (max-width: 432px) {
  .intro-header-md h3 {
    font-size: 4.5vw;
  }
}

@media (min-width: 600px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 837px) {
  .intro-header-md h3 {
    font-size: 45px;
  }

  @media (max-width: 764px) {
    .content-intro-p3-md {
      display: flex;
      flex-direction: row;
      max-height: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    .img__intro-p3-md {
      width: 48vw !important;
      height: 32.5vh !important;
    }

    .intro-img-p3-md {
      --overflow: 60px;
    }

    article .intro-wrap-p3-md {
      width: 100%;
      max-width: 100%;
      grid-row-gap: 4rem;
      margin-top: 5rem;
      /* border: 5px solid yellow; */
    }
  }

  @media (max-width: 698px) {
    .intro-header-md h3 {
      font-size: 40px;
    }
  }
}

@media (max-width: 599px) {
  .img__intro-p1-md {
    height: 250px !important;
    width: 200px !important;
  }

  .intro-img-p1-md {
    --overflow: 30px !important;
    /* zooming for parallex (the actual effects) issues */
  }

  .content-intro-p1-md {
    height: 200px !important;
    width: 200px !important;
  }

  .hide {
    display: none;
  }

  .intro-header-content-p1-md {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    justify-content: start;
    color: #001A7D;
    height: fit-content;
    padding: 0 2.5%;
    margin-top: 3rem;
  }

  .intro-header-md h3 {
    font-weight: 400;
    text-align: left;
    font-size: 7.4vw;
    color: inherit;
    line-height: 1.1;
    padding: 0;
    margin: 0;
  }

  .intro-img-p2-md {
    --overflow: 30px;
    /* zooming for parallex (the actual effects) issues */
  }

  .img__intro-p2-md {
    height: 270px !important;
    width: 240px !important;
  }

  .content-intro-p2-md {
    height: 270px !important;
    width: 240px !important;
  }

  .intro-img-p3-md {
    --overflow: 30px;
  }

  .img__intro-p3-md {
    /* height: 40vh;
    width: 50vw; */
    width: 48vw !important;
    height: 24.5vh !important;
  }

  .intro-weaver-p3-md h2 {
    font-size: 7.5vw;
    font-family: "Brown Regular";
    text-rendering: optimizeLegibility;
    text-indent: initial;
  }

  .intro-weaver-p3-md p {
    font-size: 3.8vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
    text-justify: distribute-all-lines;
    text-size-adjust: 3.8vw;
  }

  .member-p2-image-md {
    margin-bottom: 5rem;
  }

  .intro-modernlife-p2-md h2 {
    font-size: 7.5vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
    width: 100%;
  }

  .intro-modernlife-p2-md p {
    font-size: 3.8vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
    text-justify: distribute-all-lines;
  }

  article .intro-wrap-p2-md {
    grid-row-gap: 2rem;
  }
}

@media (max-width: 464px) {
  .img__intro-p3-md {
    /* height: 30vh;
    width: 55vw; */
    width: 58vw !important;
    height: 22.5vh !important;
  }

  .intro-img-p3-md {
    --overflow: 75px;
  }

  article .intro-wrap-p3-md {
    grid-row-gap: 4rem;
  }
}

@media (max-width: 399px) {
  .content-intro-p1-md {
    width: 50vw !important;
    height: 22.5vh !important;
  }

  .swift_app_inner_container {
    height: fit-content;
  }

  .swift_app_info_content h2 {
    font-size: larger;
    /* font-size: calc(31px + (40 - 31)*(100vw - 50px) / (399 - 50));
    padding-top: calc(0% + (8 - 0%)*(100vw - 50px) / (399 - 50)); */
    justify-content: flex-end;
    word-spacing: none;
    text-align: left;
  }

  .img__intro-p2-md {
    width: 50vw !important;
    height: 22.5vh !important;
  }

  .swift_app__image {
    width: calc(43.42606149341142vw + (50vw - 23.42606149341142)*(100vw - 399px) / (399 - 50)) !important;
    height: calc(46.0431654676259vh + (64.74820143884892vh - 46.0431654676259)*(100vw - 399px) / (399 - 50)) !important;
  }
}

@media (width: 320px) and (height: 480px) {
  article .intro-wrap-p3-md {
    grid-row-gap: 2rem;
  }

  .intro-img-p3-md {
    --overflow: 25px;
  }

  .img__intro-p2-md {
    width: 55vw;
    height: 35vh;
  }

  article .intro-wrap-p2-md {
    grid-row-gap: 0rem;
  }

  .intro-modernlife-p2-md h2 {
    font-size: 8.5vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
  }

  .intro-modernlife-p2-md p {
    font-size: 4vw;
    text-rendering: optimizeLegibility;
    text-indent: initial;
    text-justify: distribute-all-lines;
  }

  .intro-header-md h3 {
    text-align: left;
    font-size: 7.5vw;
    line-height: 1.1;
    padding: 0 4%;
    font-weight: 500;
  }

  .img__intro-p1-md {
    width: 65vw !important;
    height: 37.5vh !important;
  }

  .intro-img-p1-md {
    --overflow: 65px !important;
  }
}

@media (min-width: 250px) {

  /* button */
  .toggle-button__line {
    width: 25px;
    height: 2px;
  }
}

/* MAIN QUERY */

@media (min-width: 768px) {
  .size {
    width: calc(320px + (683 - 320)*(100vw - 768px) / (1280 - 768)) !important;
    height: calc(320px + (450 - 320)*(100vw - 768px) / (1280 - 768)) !important;
  }

  .cctv_camera_info_content h2,
  .secure_generator_info_content h2,
  .swift_app_info_content h2 {
    font-size: calc(31px + (40 - 31)*(100vw - 768px) / (1280 - 768));
    padding-top: calc(0% + (8 - 0%)*(100vw - 768px) / (1280 - 768));
    justify-content: flex-end;
  }

  .paragraph {
    font-size: calc(15px + (18 - 15)*(100vw - 768px) / (1280 - 768));
  }

  .digital_guest_info_content,
  .cctv_camera_info_content {
    padding-top: calc(0% + (8 - 0)*(100vw - 768px) / (1280 - 768));
  }

  .secure_generator_info_content {
    padding-top: calc(15% + (8 - 15)*(100vw - 768px) / (1280 - 768));
  }

  /* inner quote */
  .cctv_camera_inspiration_quote {
    position: relative;
    top: calc(0px + ((-30) - 0)*(100vw - 768px) / (1366 - 768));
  }

  .cctv_camera_quote_wrap,
  .rational_guards_quote_wrap,
  .biometric_system_quote_wrap,
  .digital_guest_quote_wrap,
  .secure_generator_quote_wrap {
    position: absolute;
    top: calc(0px + ((30) - 0)*(100vw - 768px) / (1366 - 768));
  }

  /* quotes */
  .secure_generator_inspiration_quote,
  .biometric_system_inspiration_quote,
  .rational_guards_inspiration_quote,
  .cctv_camera_inspiration_quote,
  .security_inspiration_quote,
  .digital_guest_inspiration_quote {
    position: relative;
    top: calc(0px + ((-30) - 0)*(100vw - 768px) / (1366 - 768));
    height: 30vh;
  }

  /* main parents */
  .security_container,
  .cctv_camera_container,
  .rational_guards_container,
  .biometric_system_container,
  .digital_guest,
  .secure_generator_container,
  .swift_app_container {
    margin-top: 10em;
  }

  .security_info_content,
  .cctv_camera_info_content,
  .secure_generator_info_content,
  .swift_app_info_content {}

  .rational_guards_info_content {
    padding-top: 0;
  }

  .biometric_system_info_content {
    padding-top: 0;
  }
  
}

@media (max-width: 768px) {

  /* .cctv_camera_info_content h2, .secure_generator_info_content h2, .swift_app_info_content h2 {
    font-size: calc(25px + (40 - 25)*(100vw - 500px) / (768 - 500));
  } */
  .security_info_content {
    padding-top: 0;
  }

  .swift_app_info_content {
    padding-top: 0;
    justify-content: end;
  }

  .swift_app_quote_wrap h1 {
    /*font-size: calc(0px + (18 - 0)*(100vw - 768px) / (1366 - 768));1.3177159590043923vw*/
    font-size: 15px;
    word-spacing: 4px;
  }

  #swift_app__image {
    width: 50vw;
    height: 45vh;
    border-radius: 0% 0% 0% 50%;
  }
  #img__intro-p2-md{
    border-radius: 0% 0% 0% 50%;
  }

  article .intro-wrap-p3-md {
    width: 100%;
    max-width: 100%;
    grid-row-gap: 5rem;
    margin-top: 11rem;
    padding-bottom: 12em;
  }

  .item__img--t1 {
    --overflow: 15px;
  }
  
}

@media (max-width: 767px) {
  .security_inspiration_quote{display: none;}
  #intro_svg_top_s4{display: none;}
  #intro_svg_bottom_s4{display: none;}
  .slider_1{padding-bottom: 8em;}
  #swift_app__image {
    width: calc(120px + (360 - 120)*(100vw - 200px) / (767 - 200));
    height: calc(80px + (280 - 80)*(100vw - 200px) / (767 - 200));
    border-radius: 0% 5% 50% 0%;
  }
  .item > .item__img-wrap {
    border-radius: 5% 0% 0% 50%;
    border: none;
  }

  .cctv_camera_container,
  .rational_guards_container,
  .biometric_system_container,
  .digital_guest,
  .secure_generator_container,
  .swift_app_frame {
    display: none;
  }

  .swift_app_inner_container {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
  }
  
  .swift_app_container{
    height: 100%;
  }

  .swift_app_info_content {
    padding-top: calc(1em + (5 - 1)*(100vw - 200px) / (767 - 200));  
  }
  .swift_app_info_content h2{
    font-size: 5vw;
    word-spacing: 2px;
  }
  
  .swift_app_quote_wrap h1 {
    font-size: 2.5vw;
    word-spacing: 2px;
  }
  /* security */
  #security_bottom_parag{
    display: none;
  }
  .security_inner_container{
    display: flex;
    flex-direction: row;
  }
  #encrupted_security__image {
    width: calc(120px + (360 - 120)*(100vw - 200px) / (767 - 200));
    height: calc(80px + (280 - 80)*(100vw - 200px) / (767 - 200));
  
    /* width: calc(220px + (683 - 220)*(100vw - 200px) / (768 - 200));
    height: calc(220px + (450 - 220)*(100vw - 200px) / (768 - 200)); */
}
}






























/*
================================   CURRENT PARALLEX STYLES  =============================================================== 
*/

@media (max-width: 899px) {
  .item {
    position: relative;
    will-change: transform;
  }

  .item__img-wrap {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    /* max-width: calc(100% - 2rem);   removed so that the image float right with no right margin space           */
    will-change: transform;
  }

  [data-scroll] {
    will-change: transform;
  }

  .item__img {
    /* --overflow: 40px;  removed for zooming issues*/
    height: calc(100% + (2 * var(--overflow)));
    top: calc(-1 * var(--overflow));
    width: 100%;
    position: absolute;
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    will-change: transform;
  }
}