@media (min-width: 769px) {
  .weaver_explanation_text-tablet {
    display: none;
  }
  .location_svg_container-tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  /* HEADER */
  .header-inner-wrap>h3 {
    font-size: 4.026354319180088vw;
  }
  /* svg */
  .top-right-svg {
    right: 5.490483162518301vw;
    top: 2.847730600292826vw;
  }
  .bottom-left-svg {
    left: 7.320644216691069vw;
  }
  .sub-title h4 {
    font-size: 1.7177159590043923vw;
  }
  /* INTRO  */
  #intro-wrapper {
    border: 2px solid;
  }
  .item>.modern_life__image {
    width: 50vw;
    height: 64.74820143884892vh;
  }
  .intro-top-parag, .intro-mid-parag, .intro-bottom-parag {
    word-break: break-all;
    font-size: calc(15px + (18 - 15)*(100vw - 768px) / (1280 - 768));
  }
  .info_content h2 {
    font-size: 2.9992576866764276vw;
    font-weight: normal;
  }
  .inspiration__quote {
    /* border: 2px solid; */
    word-break: keep-all;
    top: -4.316546762589928vh;
    padding: 0 5% 5% 5%;
  }
  .quote_wrap, .weaver_explanation_text, .weaver_explanation_text-tablet {
    font-size: calc(20px + (24 - 20)*(100vw - 768px) / (1280 - 768));
  }
  .item>.sociable_weaver__image {
    width: 50vw;
    height: 64.74820143884892vh;
  }
  .location_svg_container {
    font-size: calc(16px + (20 - 16)*(100vw - 768px) / (1280 - 768));
  }
}

@media (max-width: 768px) {
  .navbar-wrap {
    display: none;
  }
  .location_svg_container {
    display: none;
  }
  .location_svg img {
    width: calc(40vw + (20.863836017569547 - 40)*(100vw - 320px) / (768 - 320));
    height: 100%;
    padding-left: 2.4641288433382138vw;
  }
  .location_svg_container-tablet {
    left: 0%;
    margin-top: 0%;
    /* border: 2px solid red; */
  }
  .weaver_explanation_container {
    top: 0%;
    /* border: 2px solid red; */
    word-break: keep-all;
    float: right;
  }
  .weaver_explanation_text {
    display: none;
    margin-top: 0;
    width: none;
  }
  .weaver_explanation_text-tablet {
    /* margin-top: -10vh;   */
    padding-right: 2.4641288433382138vw;
    text-align: justify;
  }
  .weaver_context_container {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    height: 30vh;
    max-height: 100%;
    justify-content: space-around;
    border: 2px solid rgb(52, 18, 204);
  }
}